.card {
    background-color: $card-bg-color;
    border-radius: 10px;
    overflow: hidden;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: - ( ($profile-pic-size + $profile-outline-size ) / 2);
        margin-bottom: 25px;
    }

    &__pic {
        outline: $card-bg-color solid $profile-outline-size;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    &__info {
        margin-bottom: 5px;
    }
    &__name {
        font-size: $font-med;
        font-weight: $font-bold;
    }
    &__age {
        font-size: $font-med;
    }
    &__city{
        font-size: 14px;
    }
    &__divider {
        width: 100%;
        border-top: 2px solid #ececec;
    }

    &__footer {
        .stats {
            &__count{
                font-weight: $font-bold;
                font-size: $font-med;
            }

            &__title {
                font-size: $font-sm;
                letter-spacing: 2px;
            }
        }
    }
}
