// Colors
$darkCyan: hsl(185, 75%, 39%);
$veryDarkBlue: hsl(229, 23%, 23%);
$darkGrayishBlue: hsl(227, 10%, 46%);
$darkGray: hsl(0, 0%, 59%);

// Font Sizes
$font-sm: 0.875rem; // 14px
$font-med: 1.125rem; // 18px

// Font Weights
$font-normal: 400;
$font-bold:700;