@use "sass:math";

.card {
    background-color: $card-bg-color;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    &__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: - ( math.div($profile-pic-size + $profile-border-size, 2) );
        margin-bottom: 25px;
    }

    &__pic {
        border: $profile-border-size solid white;
        border-radius: 50%;
        margin-bottom: 20px;
    }

    &__info {
        margin-bottom: 5px;
    }
    &__name {
        font-size: $font-med;
        font-weight: $font-bold;
        margin-right: 5px;
        display: inline;
    }
    &__age {
        font-size: $font-med;
        color: $darkGrayishBlue;
    }
    &__city{
        font-size: 14px;
        color: $darkGrayishBlue;
    }
    &__divider {
        width: 100%;
        border-top: 1px solid hsl(225, 10%, 92%);
    }

    &__footer {
        display: flex;
        justify-content: space-evenly;
        .stats {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px;
            &__count{
                font-weight: $font-bold;
                font-size: $font-med;
                margin-bottom: 5px;
            }

            &__title {
                font-size: $font-sm;
                letter-spacing: 2px;
                color: $darkGrayishBlue;
            }
        }
    }
}
