html {
    font-size: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('../assets/images/bg-pattern-top.svg') , url('../assets/images/bg-pattern-bottom.svg');
    background-position: right 52vw bottom 35vh , left 50vw top 50vh;
    background-repeat: no-repeat , no-repeat;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: $font-normal;
    font-size: $font-sm;
    color: $veryDarkBlue;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $darkCyan;
}

